:host {
  display: block;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: var(--spacing-unit);
}

// .table-scroll-wrapper {
//   overflow-x: auto;
//   width: 100%;
// }

.table-group {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;

  // .table-scroll-wrapper {
  //   flex-grow: 1;
  // }
}

// Styles for the header actions container
.header-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--spacing-unit) * 2);
   @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start; // Align items to the start
  }
}

// Target the search input component
.search-input {
  width: 250px;
}
