:host {
  display: block;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: var(--spacing-unit);
}

.table-scroll-wrapper {
  overflow-x: auto;
  width: 100%;
}

.table-group {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;

  .table-scroll-wrapper {
    flex-grow: 1;
  }
}

:host ::ng-deep {
  .table-group app-table .table-container {
    border: none;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .table-group app-pagination .pagination-container {
    background-color: transparent;
  }
}

// Styles for the header actions container
.header-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--spacing-unit) * 2);
   @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start; // Align items to the start
  }
}

// Target the search input component
.search-input {
  width: 250px;
}
