<button
  class="btn"
  [ngClass]="['btn-' + variant, 'icon-' + iconPosition]"
  [disabled]="disabled || loading"
  [attr.type]="type"
  [attr.form]="form"
>
  <span class="btn-content">
    <i
      *ngIf="icon && iconPosition === 'left'"
      [ngClass]="icon"
      class="icon-element"
    ></i>
    <span class="text-content">
      <ng-content></ng-content>
    </span>
    <i
      *ngIf="icon && iconPosition === 'right'"
      [ngClass]="icon"
      class="icon-element"
    ></i>
  </span>
  <span *ngIf="loading" class="spinner-container">
    <span class="spinner"></span>
  </span>
</button>
