<header class="header-container">
    <div class="left-side">
        <button class="menu-toggle" (click)="toggleSidebar()">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
    <div class="right-side">
        <div class="user-profile" *ngIf="user$ | async as user">
            <span class="user-name">{{ user.given_name }} {{ user.family_name }}</span>
        </div>
        <button (click)="logout()" class="logout-btn" title="Logout">
            <i class="fa-solid fa-right-from-bracket"></i>
        </button>
    </div>
</header>