:host {
  display: block;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 calc(var(--spacing-unit) * 3);
  background-color: var(--background-color);
  // border-bottom: 1px solid var(--border-color);
}

.left-side, .right-side {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing-unit) * 2);
}

.menu-toggle {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 20px;
  cursor: pointer;
}

.user-name {
  font-weight: 600;
}

.logout-btn {
  background: none;
  border: none;
  color: var(--secondary-color);
  font-size: 20px;
  cursor: pointer;
  transition: color var(--transition-speed) ease;

  &:hover {
    color: var(--error-color);
  }
}