:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
}

// .container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   padding: calc(var(--spacing-unit) * 2);
// }

// .panel {
//   width: 100%;
//   max-width: 450px;
//   padding: 40px;
//   background-color: var(--surface-color);
//   border-radius: 12px;
//   border: 1px solid var(--border-color);
//   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
//   transition: background-color var(--transition-speed) ease, border-color var(--transition-speed) ease;
// }

.status-view, .header {
  text-align: center;
}

// .title {
//   font-size: 24px;
//   font-weight: 700;
//   margin-bottom: 12px;
// }

// .subtitle {
//   color: var(--secondary-color);
//   line-height: 1.6;
//   margin-bottom: 32px;
// }

.spinner {
  margin: 0 auto 24px auto;
  width: 40px;
  height: 40px;
  border: 4px solid var(--primary-color-focus);
  border-radius: 50%;
  border-top-color: var(--primary-color);
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

// form {
//   display: flex;
//   flex-direction: column;
//   gap: calc(var(--spacing-unit) * 0.5);
// }