<div class="form-container">
  <div class="form-panel">
    <!-- Automatic Activation View -->
    <div *ngIf="!setPasswordMode; else setPasswordView" class="status-view">
      <div class="spinner"></div>
      <h1 class="title">Activating Your Account</h1>
      <p class="subtitle">Please wait a moment...</p>
    </div>

    <!-- Set Password View -->
    <ng-template #setPasswordView>
      <div class="form-header">
        <h1 class="title">Set Your Password</h1>
        <p class="subtitle">
          Your account has been created. Please set a password to continue.
        </p>
      </div>
      <form
        [formGroup]="setPasswordForm"
        (ngSubmit)="submitPassword()"
        novalidate
      >

      <div class="form-field">
        <app-input
            label="Email Address"
            type="email"
            formControlName="email"
            [control]="emailCtrl"
            [readonly]="true">
          >
          </app-input>
      </div>

        <div class="form-field">
          <app-input
            label="New Password"
            type="password"
            placeholder="Min. 8 characters"
            formControlName="newPassword"
            [control]="newPasswordCtrl"
            [validationMessages]="{
              required: 'Password is required.',
              minlength: 'Too short.'
            }"
          >
          </app-input>
        </div>

        <div class="form-field">
          <app-input
            label="Confirm New Password"
            type="password"
            placeholder="Re-enter your password"
            formControlName="confirmPassword"
            [control]="confirmPasswordCtrl"
            [validationMessages]="{
              passwordMismatch: 'Passwords do not match.'
            }"
          >
          </app-input>
        </div>

        <div class="form-actions">
          <app-button variant="primary" [loading]="(isLoading$ | async)!">
            Activate and Set Password
          </app-button>
        </div>
      </form>
    </ng-template>
  </div>
</div>
