<div class="input-wrapper">
  <label [for]="id" class="input-label">{{ label }}</label>
  <div class="input-container">
    <input
      [id]="id"
      [type]="type"
      [formControl]="control"
      [placeholder]="placeholder"
      class="input-element"
      [class.has-loader]="loading"
      (input)="onInput($event)"
      (blur)="onTouched()"
    />
    <div *ngIf="loading" class="loader-spinner"></div>
  </div>
  <div class="error-container">
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
</div>