<div class="input-wrapper">
  <label *ngIf="!compact && label" [for]="id" class="input-label">{{ label }}</label>
  <div class="input-container" [class.has-icon]="!!icon">
    <input
      [id]="id"
      [type]="type"
      [formControl]="control"
      [placeholder]="placeholder"
      [readOnly]="readonly || loading"
      class="input-element"

      [class.is-readonly]="readonly"
      (input)="onInput($event)"
      (blur)="onTouched()"
    />
    <div class="adornment-container">
      <div *ngIf="loading" class="loader-spinner"></div>
      <i *ngIf="!loading && icon" [class]="icon"></i>
    </div>
  </div>
  <div *ngIf="!compact" class="error-container">
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
</div>