<div class="auth-form-container">
    <div class="auth-form-panel">
        <div class="auth-form-header">
            <h1 class="title">Forgot Password?</h1>
            <p class="subtitle">No worries, we'll send you reset instructions.</p>
        </div>
        <form [formGroup]="form" (ngSubmit)="submit()" novalidate class="auth-form-body">
            <app-input label="Email Address" placeholder="Enter your account's email" type="email"
                formControlName="email" [control]="emailCtrl"></app-input>
            <div class="auth-form-actions">
                <app-button variant="primary" [loading]="(isLoading$ | async) ?? false">
                    Send Instructions
                </app-button>
            </div>
        </form>
        <div class="auth-form-footer">
            <a routerLink="/auth/login" class="primary-link">Back to Sign In</a>
        </div>
    </div>
</div>