:host {
  display: block;
}

.password-form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-unit) * 1);
}

.form-grid {
      max-width: 400px;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // gap: calc(var(--spacing-unit) * 2);
    
    // @media (max-width: 600px) {
    //     grid-template-columns: 1fr;
    // }
}

h2 {
  margin: 0;
}

// .subtitle {
//   color: var(--secondary-color);
//   margin-top: calc(var(--spacing-unit) * 0.5);
//   line-height: 1.6;
// }

.form-actions {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--border-color);
  padding-top: calc(var(--spacing-unit) * 3);
  margin-top: var(--spacing-unit);

  app-button {
    width: auto;
  }
}