<nav class="sidebar-nav">
    <div class="logo-area">
        <h3>UMS Client</h3>
    </div>
    <ul class="nav-list">
        <li>
            <a routerLink="/dashboard" routerLinkActive="active" (click)="closeSidebarLink()">
                <i class="fa-solid fa-table-columns"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li *appHasPermission="['users:', 'startsWith']">
            <a routerLink="/users" routerLinkActive="active" (click)="closeSidebarLink()">
                <i class="fa-solid fa-users"></i>
                <span>User Management</span>
            </a>
        </li>
        <li *appHasPermission="['roles:', 'startsWith']">
            <a routerLink="/roles" routerLinkActive="active" (click)="closeSidebarLink()">
                <i class="fa-solid fa-shield-halved"></i>
                <span>Role Management</span>
            </a>
        </li>
    </ul>
</nav>